<configuration>
    <property name="LOG_FILE" value="logs_admin_services" />
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="JsonRollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <fieldNames>
                <timestamp>timestamp</timestamp>
                <thread>[ignore]</thread>
                <version>[ignore]</version>
                <stackTrace>exception</stackTrace>
            </fieldNames>
        </encoder>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>/erp_logs/${LOG_FILE}_%d{dd-MM-yyyy}.json</fileNamePattern>
            <!-- keep 30 days' worth of history capped at 30GB total size -->
            <maxHistory>30</maxHistory>
            <totalSizeCap>30GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="console" />
        <appender-ref ref="JsonRollingFile" />
    </root>

    <!--<appender name="JsonConsole" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <fieldNames>
                <timestamp>timestamp</timestamp>
                <thread>[ignore]</thread>
                <version>[ignore]</version>
                <stackTrace>exception</stackTrace>
            </fieldNames>
        </encoder>
    </appender>-->
</configuration>